
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles */
.display-flex{
  display: flex;
}
/* Dark 01 */
.bark-1{
  color: #131313;
}
/* Dark 02 */
.text-gray{
  color: #424242;
}
/* Dark 03 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}


section{
  margin-bottom: 50px;
}
.btn-primary{
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  transition: all linear .3s;
}

.btn-primary:hover{
  background-color: #424242;
  box-shadow: 0px 2px 7px #424242;
}

/* Heaser Styles */



/* Navbar related styles  */
.header{
  padding-top: 50px;
}
.navbar{
  justify-content: space-between;
  align-items: center;

}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-links{
  
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  transition: all linear .3s;
}
.nav-link:hover{
  color: #FF900E;
}
.navbar,.banner, footer, section{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Related Styles */
.banner{
  padding-top: 116px;
  padding-bottom: 50px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 18px;
}
.banner img{
  width: 100%;
  border-radius: 8px;
  margin-top: 50px;
}

/* Our Features Section */
.teams{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}
.team{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team img{
  border-radius: 8px;
}

.our-features h3{
  font-size: 2.813rem;
  font-weight: 700;
  max-width: 450px;
}
.bold-title{
  color: #131313;
}
.yellow-title{
  color: #FF900E;
}
.our-features p{
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 1rem;
}
/* experience-section start  */
.experience-section{
  margin-top: 130px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.experience-text-container h3{
  max-width: 450px;
  font-size: 2.813rem;
  font-weight: 700;
  color: #131313;
  padding-left: 20px;
  border-left: 5px solid #FF900E;
  margin-bottom: 24px;
}
.experience-text-container p{
  margin-bottom: 30px;
}
.experience-text-info h6{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.experience-text-info-box{
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, .06);
  border-radius: 8px;
}
.experience-image-container{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.experience-image-container img{
  width: 90%;
  margin-left: auto;
}
.experience-image-container-info{
  width: 340px;
  color: #ffffff;
  background-color: #FF900E;
  text-align: center;
  padding: 40px;
  position: absolute;
  bottom: -60px;
  left: -10px;
}
.experience-image-container-info h3{
  font-size: 4.063rem;
}
.experience-image-container-info p{
  font-size:1.563rem;
}
/* Some Facts Secrion Start  */
.some-facts{
  margin-top: 130px;

}
.some-facts h3{
  font-size: 2.813rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.some-facts p{
 max-width: 540px;
}
.some-facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
  margin-bottom: 175px;
  margin-top: 100px;
  
}
.some-facts-box{
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  padding: 45px 35px;
}
.some-facts-box h5{
  font-size: 2.813rem;
  
}
.some-facts-box h6{
  font-size: 1.25rem;
}
/* Our Sponspors section Start */
.our-sponspors{
  margin-bottom: 130px;
}
.our-sponspors h3{
  font-size: 2.813rem;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
.our-sponspors p{
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px;
}
.sponspors-box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
}
.sponspors-box img{
  width: 50%;
  filter: grayscale(2);
  transition: all linear .3s;
}
.sponspors-box img:hover{
  filter: none;
}
/* Copyright Section Start */
.copyright p{
  text-align: center;
  padding: 38px 0;
  background-color: #FFF4E7;
  border-radius: 8px;
}
